.git
.venv
.uv-cache
.ruff_cache
.pytest_cache
.mypy_cache
.pre-commit-cache
__pycache__
*.pyc
.DS_Store

artifacts
build
checkpoints
/data
dist
logs
mlartifacts
mlflow.db
mlruns
models
node_modules
outputs
plots
triton_model_repository/*/*/model.onnx

*.ckpt
*.engine
*.onnx
*.pt
*.pth
