# Python
__pycache__/
*.py[cod]
*.so

# Build
build/
dist/
wheels/
*.egg-info/

# Virtual environments
.venv/
.env
.tmp/

# Jupyter / macOS
.ipynb_checkpoints/
.DS_Store

# Logs
logs/
*.log

# Artifacts
artifacts/
checkpoints/
mlartifacts/
mlruns/
mlflow.db
outputs/
plots/
triton_model_repository/*/*/model.onnx

# Data & models
data/
models/*
!models/*.dvc

*.pt
*.pth
*.onnx
*.engine

# DVC
.dvc/cache/

# Ruff / pytest
.ruff_cache/
.pytest_cache/

# Node / frontend
node_modules/

# IDE
.vscode/
.idea/
/data
